@charset "UTF-8";
@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

@font-face {
  font-family: Brush-regular;
  src: url("../assets/fonts/footer/CrushineBrushScript.woff"); }

.cupcake {
  width: 100%; }

.carousel-item {
  height: 38rem;
  background-size: cover;
  background-position: center center; }

.comingSoon {
  font-family: SUNN-line-regular;
  font-size: 120px;
  color: white;
  font-weight: bold;
  position: absolute;
  padding-top: 15%;
  padding-left: 40%; }

/* CSS General */
* {
  margin: 0;
  padding: 0; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

/* CSS para NAV */
@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

.nav-link {
  font-family: SUNN-line-regular;
  font-size: 36px; }

.navbar__logo {
  width: 140px;
  height: 140px; }

.contenedor-logo {
  display: flex;
  background-color: white; }

.navbar {
  background-image: linear-gradient(to left, #57B5A9, #57B5A9); }

.navbar-nav .nav-link {
  color: white !important;
  padding-left: 60px !important; }

.navbar-nav .nav-link:hover {
  color: #DC666B !important; }

.bg-primary {
  background-color: #57B5A9 !important; }

.colNavBar {
  background-image: linear-gradient(to left, #333333, black); }

.stickyNav {
  position: sticky;
  z-index: 9999;
  top: 0; }

.dropdown-item {
  font-family: SUNN-line-regular;
  font-size: 25px; }

@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

@font-face {
  font-family: Brush-regular;
  src: url("../assets/fonts/footer/CrushineBrushScript.woff"); }

a {
  color: white; }

.shfooter .collapse {
  display: inherit; }

@media (max-width: 767px) {
  .shfooter ul {
    margin-bottom: 0; }
  .shfooter .collapse {
    display: none; }
  .shfooter .collapse.show {
    display: block; }
  .shfooter .title .fa-angle-up,
  .shfooter .title[aria-expanded=true] .fa-angle-down {
    display: none; }
  .shfooter .title[aria-expanded=true] .fa-angle-up {
    display: block; }
  .shfooter .navbar-toggler {
    display: inline-block;
    padding: 0; } }

.resize {
  text-align: center; }

.resize {
  margin-top: 3rem;
  font-size: 1.25rem; }

/*RESIZESCREEN ANIMATION*/
.fa-angle-double-right {
  animation: rightanime 1s linear infinite; }

.fa-angle-double-left {
  animation: leftanime 1s linear infinite; }

@keyframes rightanime {
  50% {
    transform: translateX(10px);
    opacity: 0.5; }
  100% {
    transform: translateX(10px);
    opacity: 0; } }

@keyframes leftanime {
  50% {
    transform: translateX(-10px);
    opacity: 0.5; }
  100% {
    transform: translateX(-10px);
    opacity: 0; } }

.fa-facebook-square {
  color: white; }

.fa-facebook-square:hover {
  color: #DC666B; }

.fa-instagram {
  color: white; }

.fa-instagram:hover {
  color: #DC666B; }

.fa-linkedin {
  color: white; }

.fa-linkedin:hover {
  color: #DC666B; }

.texcenter--h4 {
  padding-bottom: 1%;
  font-family: SUNN-line-regular;
  font-size: 35px;
  font-weight: bold; }

.shfooter h5 {
  font-family: SUNN-line-regular;
  font-size: 30px; }

.copyright {
  font-family: SUNN-line-regular;
  font-weight: bold;
  font-size: 20px; }

.ijac {
  font-family: SUNN-line-regular;
  font-weight: bold;
  font-size: 20px;
  color: white; }

@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body,
html {
  height: 100%;
  font-family: Montserrat-Regular, sans-serif; }

/*---------------------------------------------*/
a {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none;
  color: #57B5A9; }

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px; }

p {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px; }

ul,
li {
  margin: 0px;
  list-style-type: none; }

/*---------------------------------------------*/
input {
  outline: none;
  border: none; }

textarea {
  outline: none;
  border: none; }

textarea:focus,
input:focus {
  border-color: transparent !important; }

input::-webkit-input-placeholder {
  color: #999999; }

input:-moz-placeholder {
  color: #999999; }

input::-moz-placeholder {
  color: #999999; }

input:-ms-input-placeholder {
  color: #999999; }

textarea::-webkit-input-placeholder {
  color: #999999; }

textarea:-moz-placeholder {
  color: #999999; }

textarea::-moz-placeholder {
  color: #999999; }

textarea:-ms-input-placeholder {
  color: #999999; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent; }

button:hover {
  cursor: pointer; }

iframe {
  border: none !important; }

/*//////////////////////////////////////////////////////////////////
  [ Contact 1 ]*/
.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background: #DC666B;
  background: -webkit-linear-gradient(left, #DC666B, #f6a3a5);
  background: -o-linear-gradient(left, #DC666B, #f6a3a5);
  background: -moz-linear-gradient(left, #DC666B, #f6a3a5);
  background: linear-gradient(left, #DC666B, #f6a3a5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 130px 88px 148px; }

/*------------------------------------------------------------------
  [  ]*/
.contact1-pic {
  width: 296px; }

.contact1-pic img {
  max-width: 100%; }

/*------------------------------------------------------------------
  [  ]*/
.contact1-form {
  width: 390px; }

.contact1-form-title {
  display: block;
  font-family: SUNN-line-regular;
  font-weight: bold;
  font-size: 35px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px; }

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
  font-family: SUNN-line-regular;
  font-size: 25px; }

input.input1 + .shadow-input1 {
  border-radius: 25px; }

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
  font-family: SUNN-line-regular;
  font-size: 25px; }

textarea.input1 + .shadow-input1 {
  border-radius: 25px; }

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px; }

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666; }

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #57B5A9; }

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards; }

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0; } }

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0; } }

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57B5A9;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  font-family: SUNN-line-regular;
  font-size: 30px;
  font-weight: bold; }

.contact1-form-btn i {
  margin-left: 7px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.contact1-form-btn:hover {
  background: #333333; }

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px); }

/*------------------------------------------------------------------
  [ Responsive ]*/
@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%; }
  .contact1-form {
    width: 44%; } }

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px; }
  .contact1-pic {
    width: 35%; }
  .contact1-form {
    width: 55%; } }

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px; }
  .contact1-pic {
    display: none; }
  .contact1-form {
    width: 100%; } }

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px; } }

/*------------------------------------------------------------------
  [ Alert validate ]*/
.validate-input {
  position: relative; }

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px; }

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

@font-face {
  font-family: Brush-regular;
  src: url("../assets/fonts/footer/CrushineBrushScript.woff"); }

.seccion-productos-destacados--estilo-titulo {
  font-family: SUNN-line-regular;
  font-size: 46px;
  font-weight: bold; }

.barraBusqueda {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px; }

.navbar-top {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  text-align: center; }

.producstOnCart {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background-color: #202020;
  width: 300px;
  height: 500px;
  color: #f0f0f0;
  z-index: 15;
  position: fixed;
  top: 20px;
  right: 0;
  text-align: center; }

.producstOnCart::-webkit-scrollbar {
  width: 0;
  background: transparent; }

.hide {
  display: none; }

.producstOnCart ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.producstOnCart .buyItem {
  border-bottom: #aaa 1px solid;
  width: 90%;
  padding: 10px 0;
  display: flex; }

.producstOnCart img {
  width: 90px; }

.producstOnCart .top {
  display: flex;
  background-color: #616161;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%; }

.carrito-estiloH3 {
  font-family: SUNN-line-regular;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-left: 25%; }

/* My account text*/
.account-text {
  font-size: 0.9rem;
  padding: 10px;
  font-family: SUNN-line-regular;
  font-size: 25px;
  font-weight: bold; }

.account-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer; }

.account-btn:focus {
  outline: none; }

.navbar-top .shopping-cart {
  margin-left: 10px;
  font-size: 1.4rem;
  padding-top: 10px; }

.shopping-cart .sum-prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#sum-prices {
  padding-left: 5px; }

.sum-prices h6 {
  font-size: 0.9rem; }

button:focus {
  outline: none; }

.checkout {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  width: 100px; }

/*---------------------
  Featured
-----------------------*/
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

.featured {
  padding-top: 80px;
  padding-bottom: 40px; }

.featured__controls {
  text-align: center;
  margin-bottom: 50px; }

.featured__controls ul li {
  list-style: none;
  font-family: SUNN-line-regular;
  font-size: 28px;
  font-weight: bold;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  cursor: pointer; }

.featured__controls ul li.active:after {
  opacity: 1; }

.featured__controls ul li:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  /* background: #57B5A9; */
  content: "";
  opacity: 0; }

.featured__controls ul li:hover {
  background: #57B5A9;
  bottom: -2px;
  height: 2px; }

.featured__controls ul li:last-child {
  margin-right: 0; }

.featured__item {
  margin-bottom: 50px; }

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
  bottom: 20px; }

.featured__item__pic {
  height: 270px;
  position: relative;
  overflow: hidden;
  background-position: center center; }

.featured__item__pic__hover {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s; }

.featured__item__pic__hover li {
  list-style: none;
  display: inline-block;
  margin-right: 6px; }

.featured__item__pic__hover li:last-child {
  margin-right: 0; }

.featured__item__pic__hover li:hover a {
  background: #7fad39;
  border-color: #7fad39; }

.featured__item__pic__hover li:hover a i {
  color: #ffffff;
  transform: rotate(360deg); }

.featured__item__pic__hover li a {
  font-size: 16px;
  color: #1c1c1c;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #ffffff;
  display: block;
  border-radius: 50%;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s; }

.featured__item__pic__hover li a i {
  position: relative;
  transform: rotate(0);
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s; }

.featured__item__text {
  text-align: center;
  padding-top: 15px; }

.featured__item__text h6 {
  margin-bottom: 10px; }

.featured__item__text h6 a {
  color: #252525;
  font-family: SUNN-line-regular;
  font-size: 28px;
  font-weight: bold; }

.featured__item__text h5 {
  color: #252525;
  font-family: SUNN-line-regular;
  font-size: 37px;
  font-weight: bold; }

.tortaArcoIris {
  background-image: url(../assets/img/torta_arcoIris.png);
  border-radius: 5%; }

.cookieDino {
  background-image: url(../assets/img/cookieDino.png);
  border-radius: 5%; }

.funBox {
  background-image: url(../assets/img/funBox.png);
  border-radius: 5%; }

.docenaCookies {
  background-image: url(../assets/img/cookiesDocena.png);
  border-radius: 5%; }

.tortaBautismo {
  background-image: url(../assets/img/TortaBautismo.png);
  border-radius: 5%; }

.cookieHelado {
  background-image: url(../assets/img/CookiesHelado.png);
  border-radius: 5%; }

.cookieStich {
  background-image: url(../assets/img/cookieStich.png);
  border-radius: 5%; }

.tortaChimuelo {
  background-image: url(../assets/img/Torta_Chimuelo.png);
  border-radius: 5%; }

/* My account text*/
.account-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer; }

.account-btn:focus {
  outline: none; }

.shopping-cart .sum-prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#sum-prices {
  padding-left: 5px; }

.sum-prices h6 {
  font-size: 0.9rem; }

.botonCarritoCompras {
  cursor: pointer; }

.botonCarritoCompras:hover,
.account:hover * {
  color: #0e5e53; }

.producstOnCart {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background-color: #202020;
  width: 300px;
  height: 500px;
  color: #f0f0f0;
  z-index: 15;
  position: fixed;
  top: 20px;
  right: 0;
  text-align: center; }

.producstOnCart::-webkit-scrollbar {
  width: 0;
  background: transparent; }

.hide {
  display: none; }

.producstOnCart ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.producstOnCart .comprarItem {
  border-bottom: #aaa 1px solid;
  width: 90%;
  padding: 10px 0;
  display: flex; }

.producstOnCart img {
  width: 90px; }

.producstOnCart .top {
  display: flex;
  background-color: #616161;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%; }

.top button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;
  color: #c24c37;
  cursor: pointer; }

.top button:hover {
  color: #e40505; }

.producstOnCart > .checkout {
  font-size: 0.9rem;
  margin: 20px auto;
  border: none;
  background-color: #297075;
  padding: 10px 20px;
  color: #eee;
  cursor: pointer; }

.overlay {
  overflow: hidden;
  display: inline-block;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5); }

.stopScrolling {
  height: 100vh;
  overflow: hidden; }

.buyItem h6 {
  margin-bottom: 10px; }

.buyItem button {
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 0 6px;
  border: none; }

.buyItem button:active {
  color: #96c8cc; }

.buyItem > div {
  padding: 0 20px; }

.producstOnCart .empty {
  justify-self: center;
  margin: 150px auto; }

.precio {
  color: #dd3333;
  margin-top: 10px;
  text-align: left;
  padding: 5px;
  font-size: 1rem; }

.searchbar form {
  position: absolute;
  right: 17px;
  top: 27.5px;
  transform: translate(0%, -50%);
  transition: all 1s;
  width: 40px;
  height: 40px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid #555;
  padding: 5px; }

.searchbar > form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  line-height: 20px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 0.9rem;
  border-radius: 20px;
  padding: 0 20px; }

.searchbar form:hover {
  width: 300px;
  cursor: pointer; }

.searchbar form:hover input {
  display: block; }

.searchbar input::placeholder {
  color: #242424;
  font-size: 0.8em; }

.searchbar > form:hover #search-icon {
  background: #07051a;
  color: white; }

#search-icon {
  box-sizing: border-box;
  padding: 8px;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1rem;
  transition: all 1s; }

#search-icon:active,
#search-icon:focus {
  outline: none; }

.links {
  position: relative;
  display: inline-blo;
  margin: auto; }

.links ul {
  display: flex;
  flex-direction: row; }

.link {
  text-align: center;
  font-size: 0.9rem; }

#hearderSlide {
  background-color: #49989e;
  height: 55vh;
  position: relative; }

#hearderSlide .MS-content {
  margin: 0 1%;
  white-space: nowrap;
  /* required */
  overflow: hidden;
  /* required */
  height: 100%; }

#hearderSlide .item {
  display: inline-block;
  width: 33.3333%;
  /* required * Determines number of visible slides */
  position: relative;
  /* required */
  vertical-align: top;
  /* required */
  overflow: hidden;
  /* required */
  height: 100%;
  /* recommended */
  white-space: normal; }

.item img {
  width: 100%;
  height: 100%;
  padding: 20px 10px; }

#hearderSlide .MS-controls .MS-left {
  border: none;
  left: 10px; }

#hearderSlide .MS-controls .MS-right {
  border: none;
  right: 10px; }

.MS-right:focus,
.MS-left:focus {
  outline: none; }

.MS-right:active,
.MS-left:active {
  color: #fff;
  background-color: #49989e; }

#hearderSlide .MS-right {
  position: absolute;
  font-weight: bolder;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); }

#hearderSlide .MS-left {
  font-weight: bolder;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%); }

.product-container {
  max-width: 1600px;
  margin: auto;
  width: 88vw;
  position: relative; }

.producto {
  position: relative;
  text-align: center;
  height: 400px;
  border-radius: 5px;
  overflow: hidden; }

.producto-debajo {
  width: 100%;
  height: 100%; }

.producto-encima {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  animation-name: show_top;
  animation-duration: 1s;
  backdrop-filter: blur(5px); }

@keyframes show_top {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.producto-imagen:hover .producto-encima {
  display: flex;
  flex-direction: column; }

.producto-imagen {
  position: relative;
  height: 62%;
  background-color: #eee; }

.producto-imagen img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border-radius: 5%; }

.producto-resumen {
  font-size: 0.9rem;
  position: relative;
  padding: 10px 5px;
  height: 38%; }

.producto-resumen > .precio {
  position: absolute;
  left: 20px;
  bottom: 0; }

/* Estilo botón */
.btn {
  background-color: #96c8cc;
  padding: 15px 50px 15px 30px;
  color: #141414;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
  position: relative; }

.btn:active {
  box-shadow: none; }

.btn > .fa-angle-right {
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.5s; }

.btn:hover .fa-angle-right {
  font-size: 1.5rem;
  position: absolute;
  right: 20px; }

.btn i {
  margin: 0 5px; }

.btn-small {
  border: none;
  font-size: 0.9rem;
  width: 60%;
  padding: 15px;
  background-color: white;
  box-shadow: 2px 2px 2px #49989e;
  color: black;
  margin-bottom: 10px;
  cursor: pointer; }

.btn-small:hover {
  background-color: #49989e;
  color: white; }

.hidden {
  display: none; }
